---
layout: archive
title: "Projects:"
permalink: /projects/
author_profile: true
---
<style>
h2 {text-align: center;}
p {text-align: center;}
pre {text-align: center;}
div {text-align: center;}
</style>
<pre> <h2> Group Projects That I Have Completed:</h2> 
Twitter Sentiment Analysis Project:
For this project we wanted to build an application that uses Twitter(X) data in order to build a sentiment analysis system. 
We did this by using some of the free APIs provided by Twitter.
<iframe width="400" height="300" src="https://youtube.com/embed/Zf9Fb7p_zBg"> </iframe>


Stock Trading Program:
Employee Management SQL System:
</pre>
{% include base_path %}


{% for post in site.projects %}
  {% include archive-single.html %}
{% endfor %}
