---
layout: archive
title: "Projects:"
permalink: /projects/
author_profile: true
---
<style>
h2 {text-align: center;}
p {text-align: center;}
pre {text-align: center;}
div {text-align: center;}
</style>
<pre> <h2> Group Projects That I Have Completed:</h2> 
Twitter Sentiment Analysis Project:
<div style ="margin:-55px 39.1px 0;">
For this project we wanted to build an application that uses Twitter(X) data in order to build a sentiment analysis system. 
We did this by using some of the free APIs provided by Twitter.
<iframe width="420" height="345" src="https://youtu.be/Zf9Fb7p_zBg?si=QUSKNb7Z7ohE6igJ"> </iframe>


<div style ="margin:-55px 39.1px 0;">
Stock Trading Program:
<div style ="margin:-55px 39.1px 0;">
Employee Management SQL System:
</pre>
{% include base_path %}


{% for post in site.projects %}
  {% include archive-single.html %}
{% endfor %}
