---
layout: archive
title: "Projects:"
permalink: /projects/
author_profile: true
---
<style>
h2 {text-align: center;}
p {text-align: left;}
pre {text-align: center;}
div {text-align: center;}
</style>
<pre> <h2> Group Projects That I Have Completed:</h2> 
Twitter Sentiment Analysis Project:
<p> For this project we wanted to build an application that uses Twitter(X) data in order to build a 
sentiment analysis system. We created this by using some of the free APIs provided by Twitter.</p>
<iframe width="300" height="200" src="https://youtube.com/embed/Hd9ombKIyyc"> </iframe>

<p><a href="https://amirc42.github.io/amircportfolio/sentimentanalysisdetails/">More details here!</a></p>


  

Stock Trading Program:
For this project we wanted to create a program that could run an algorithm that could buy
or sell stocks for the user. 
<iframe width="300" height="200" src="https://youtube.com/embed/mkFH79-5csk"> </iframe>

<p><a href="https://amirc42.github.io/amircportfolio/stockprogramdetails/">More details here!</a></p>


</pre>
{% include base_path %}


{% for post in site.projects %}
  {% include archive-single.html %}
{% endfor %}
