---
layout: archive
title: "Further Details:"
permalink: /sentimentanalysisdetails/
author_profile: true
---
<pre><p>The way the program works is:
  - User enters a keyword into the search bar.
  - Using Twitter's search API the data related to that keyword is found such as certain
  phrases.
  - The sentiment dictionary within the program then assigns a score to the data found.
  - The score will fall into one of three categories: Positive, Negative or Neutral.
  - The results are then displayed in the GUI. 
</p></pre>
<pre>
<img src="https://raw.githubusercontent.com/amirc42/amircportfolio/refs/heads/master/images/twittersetup.png"  width="800" height="900">
- This file shows some of the code for how we were able to connect to Twitter's API. In order to 
  connect we needed to use the credentials provided to us by Twitter such as the API key, 
  secret key and various tokens.
   
<img src="https://raw.githubusercontent.com/amirc42/amircportfolio/refs/heads/master/images/fetchtweets.png "  width="800" height="900">
  This shows how we were able to gather data from twitter. We first gather the amount of tweets we 
  want to find which in this case was 100. From there the Tweets are then filtered to remove 
  things that aren't relevant to what we are searching for. Some of the things that are removed 
  for example are emojis. The remaining relevant tweets are then saved to a file.  

<img src="https://raw.githubusercontent.com/amirc42/amircportfolio/refs/heads/master/images/analyzesentiment.png "  width="800" height="900">
- This code shows how the raw tweets that were gathered are broken down for analysis. If the tweets 
  contain keywords that are present in our sentiment dictionary then it will be assigned a score.
  The positive words get assigned a score of 2 through 5. Negative words get assigned a score of 
  -1 through -3. The overall score is then calculated and assigned to the tweet.
  
<img src="https://raw.githubusercontent.com/amirc42/amircportfolio/refs/heads/master/images/sentimentanalysisdictionary.png"  width="800" height="900">
- This code shows the keywords that are within our sentiment dictionary. Some words are valued more
  than others.
  
<img src="https://raw.githubusercontent.com/amirc42/amircportfolio/refs/heads/master/images/sentimentanalysisgui.png"  width="800" height="900">
- This code shows some of the backend for how part of our GUI works. This section in particular shows how 
  we created our sign up/log in feature. It allows users to create usernames and passwords that get saved
  into the system.

   </pre>


  <pre><p>Future Works:
  - Cutting down the time for the sentiment analysis action to function.
  - Adding more words to the sentiment dictionary.
  - Letting users add their own words to the sentiment dictionary.</p></pre>

{% include base_path %}


{% for post in site.projects %}
  {% include archive-single.html %}
{% endfor %}
