---
layout: archive
title: "Skills"
permalink: /skills/
author_profile: true
---

<h1>Progamming Languages </h1>
<pre> 
<b>Intermediate</b>
      - Java
      - Python
<b>Novice</b>
      - SQL
      - Swift
      - C++
      - HTML  </pre>

<h1> General Computer Skills </h1>
<pre> - Microsoft Word
      - Microsoft Excel 
      - Microsoft Powerpoint </pre>

<h1> Interpersonal Skills </h1>
<pre> - Adaptable
      - Patience  </pre>


{% include base_path %}


{% for post in site.skills %}
  {% include archive-single.html %}
{% endfor %}
