---
layout: archive
title: "Skills:"
permalink: /skills/
author_profile: true
---
<pre> _____________________________ 
<h2>Progamming Languages </h2>
<b>Intermediate Knowledge:</b>
      - Java
      - Python
<b>Novice Knowledge:</b>
      - SQL
      - Swift
      - C++
      - HTML  </pre>
<pre> _____________________________ 
<h2> General Computer Skills </h2>
      - Microsoft Word
      - Microsoft Excel 
      - Microsoft Powerpoint </pre>
<pre> _____________________________
<h2> Interpersonal Skills </h2>
      - Adaptable
      - Patience  </pre>


{% include base_path %}


{% for post in site.skills %}
  {% include archive-single.html %}
{% endfor %}
