---
layout: archive
title: "Skills:"
permalink: /skills/
author_profile: true
---
<style>
h2 {text-align: center;}
p {text-align: center;}
pre {text-align: center;}
div {text-align: center;}
</style>
<pre> ________________________________________ 
<div style ="margin:-30px 39.1px 0;">
<h2>Progamming Languages </h2>
<div style ="margin:-50px 39.1px 0;">
<b>Intermediate Knowledge:</b>
- Java
  - Python
      
<b>Novice Knowledge:</b>
- SQL
  - Swift
- C++
   - HTML  </pre>
<pre> ________________________________________ 
<h2> General Computer Skills </h2>
<div style ="margin:-50px 39.1px 0;">
      - Microsoft Word
        - Microsoft Excel 
             - Microsoft Powerpoint </pre>
<pre> ________________________________________ 
<h2> Interpersonal Skills </h2>
<div style ="margin:-52px 40px 0;">
  - Adaptable
   - Patience  </pre>

{% include base_path %}


{% for post in site.skills %}
  {% include archive-single.html %}
{% endfor %}
