---
layout: archive
title: "Work experience"
permalink: /workexperience/
author_profile: true
---
<style>
p {text-align: left; font-size: 14px;
}
body {
  overflow: hidden;
}
</style>
<body>
<pre> ________________________________________ </pre>
<pre><b>Hampton University,</b> Help Desk Student Assistant, Hampton, VA              January 2024 - April 2024 </pre>
<pre>
● Assisted students and staff with resetting passwords and unlocking accounts.
● Provided guidance on using printers and helped students troubleshoot any common issues.
● Resolved any general questions related to the university’s Wi-Fi such as connectivity issues.
</pre>
</body>
<pre> ________________________________________ </pre>
<div style ="margin:-55px 39.1px 0;">
<pre><b>Lidl,</b> Store Associate, Wheaton, MD                                        March 2021 - August 2021 </pre>
<pre>
● Provided excellent customer service when at the registers and throughout the store by assisting
customers with questions and locating items for them.
● Unpacked and organized stock as deliveries arrived in store, maintaining a quick pace.
● Utilized store point-of-sale (POS) system and troubleshot system issues.
● Ensured that the entire store was clean and organized throughout shift, including the parking lot,
sales floor, the breakroom and back warehouse.
● Increased knowledge of Lidl business by learning and completing tasks throughout different
departments.
● Communicated clearly with management, colleagues, and customers to complete tasks and
provide daily support as needed.
</pre>
<pre> ________________________________________ </pre>
<div style ="margin:-55px 39.1px 0;">
<pre><b>Montgomery County Recreation,</b> Recreation Counselor Assistant, Sandy Springs, MD         Summer 2018 </pre>
<pre>
● Planned and developed daily, weekly, and monthly activities for camp participants.
● Collaborated with recreation team to coordinate and conduct various activities and programs for
camp participants and families.
● Mediated, advised, and resolved camper disputes quickly and effectively.
● Ensured the safety of camp participants and fellow recreation staff. 
</pre>

 {% include base_path %}


{% for post in site.workexperience %}
  {% include archive-single.html %}
{% endfor %}
